
SocialGamingPlatform/.DS_Store
SocialGamingPlatform.xcworkspace/xcuserdata/dennis.xcuserdatad/UserInterfaceState.xcuserstate
SocialGamingPlatform.xcodeproj/xcuserdata/dennis.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/dennis.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
